# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Ignore .idea files
*.idea

# Build files
dist/
build/

# Temporary files
tmp/
temp/

# Discloud configuration
discloud.config
