# Ignore node_modules
node_modules/

# Ignore lockfile changes
pnpm-lock.yaml

# Ensure that these files and directories are not ignored
!**/interaction.reply*
!**/interaction.deferReply*
!**/interaction.fetchReply*
!**/interaction.deleteReply*
!**/interaction.followUp*
!**/message.reply*