# Ignore files for PNPM
!node_modules/
pnpm-lock.yaml

# slash commands
!**/interaction.reply*
!**/interaction.deferReply*
!**/interaction.fetchReply*
!**/interaction.deleteReply*
!**/interaction.followUp*

# prefix commands
!**/message.reply*